SPOTIFY_CLIENT_ID=bwaa
SPOTIFY_CLIENT_SECRET=bwaaa
MQTT_HOST=mqtt
MQTT_PORT=1883
MQTT_LIBRESPOT_LISTEN_TOPIC=music/events/playing
MQTT_ZODOM_LISTEN_TOPIC=music/votes
MQTT_PUBLISH_TOPIC=music/current_song_info_test
ZODOM_API_URL=https://zodom.kelder.zeus.gent
